body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#header-logo {
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 20px;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: #555;
}


.auth-buttons {
    float: right;
    background-color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#index-info {
    text-align: center;
    margin-top: 50px;
}

#logo {
    width: 74px;
    height: 74px;
    margin: 0 auto;
    display: block;
    float: left;
}

.success {
    list-style-type: none;
    background-color: green;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    top: 10px;
    right: 20px;
    
}

.danger {
    list-style-type: none;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    top: 10px;
    right: 20px;
}

#login-status {
    background-color:#555;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

#flash {
    position: absolute;
    top: 10px;
    right: 140px;
    animation: fadeOut 1.5s forwards 1.5s;
}

#auth-buttons {
    font-family: sans-serif;
    border-radius: 5px;
    background-color: #555;
    position: absolute;
    top: 95px;
    right: -8px;
}