{% extends "base.html" %}
    {% block content %}

    <div id="profile-info">
        <section id="profile">
            <h2>Profile</h2>
            <p>Username: {{ session['username'] }}</p>
            <p>Email: {{ session['email'] }}</p>
        </section>
        <section id="edit">
            <h2>Edit Profile</h2>
            <form action="/profile" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ session['email'] }}" required>
                <button type="submit">Update</button>
            </form>
        </section>

    {% endblock %}